#resource-table {
    table-layout: fixed;
}

#resource-table colgroup col:first-child {
    width: 60%;
}

#resource-table colgroup col:last-child {
    width: 40%;
}

.resource-row td {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.resource-galery-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#resource-carousel {
    height: 400px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
    text-align: center;
    line-height: 400px;
    background-color: #f8f9fa;
}

.carousel-resource {
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
    vertical-align: middle;
    display: inline-block;
}

.carousel-control-prev,
.carousel-control-next {
    width: 7%;
    opacity: 0.8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 15px;
    filter: invert(1);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.7);
}


.custom-card-image-wrapper {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.image-popup {
    position: fixed;
    display: none;
    z-index: 1000;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: left 0.1s, top 0.1s;
}

.image-popup img, .image-popup video {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    display: block;
}